<div style="text-align:center">
  <h1>
   {{title}}
  </h1>
</div>
<div>
  <input type="text" [(ngModel)]="imageUrl" >
  <button (click)="getPersonAge()">Obtener Datos</button>

  <div class="container-img">
    <div class="rectangle" 
      [style.width]="{{  personData[0].faceRectangle.width }}px"
      [style.height]="{{  personData[0].faceRectangle.height }}px"
      [style.top]="{{  personData[0].faceRectangle.top }}px"
      [style.left]="{{  personData[0].faceRectangle.left }}px"
    
    
    style="width: {{  personData[0].faceRectangle.width }}px; height: {{  personData[0].faceRectangle.height }}px; top: {{  personData[0].faceRectangle.top }}px; left: {{  personData[0].faceRectangle.left }}px;"></div>
    <img src="{{ imageUrl }}" alt="Image" class="imagen" >
  </div>
  <!-- <p>
    <span style="border: 5px solid green; top: 145px; left: 92px; width: 193px; height: 193px;"></span>
    <img src="{{ imageUrl }}" alt="Image" style="border: 1px solid red;">
  </p> -->
</div>

<div>
    {{  personData[0].faceRectangle.top }}  
   {{ personData | json }} 
</div>


